
@media (max-width: 1440px) {

}
@media (max-width: 1300px) {

}
@media (max-width: 1199.75px) {
/* Header */
header{padding: 50px 30px;}
.fixed header{padding:30px;}

/* Banner*/
.banner-outer h1{font-size: 34px;}
.project-year{font-size: 22px;}

/* Footer */
footer{right: 30px;left: 30px;}

}

@media (max-width: 991.75px) {
/* fixed-lines */
.line-area{width: 25%;}
.line-area:nth-child(2){width: 50%;}

/* Common style */
.container-inner{max-width: 100%;padding: 0 30px;}
.block-title{max-width: 100%;}

/*Banner */
.banner-outer{max-width: 100%;}

/* Footer */
footer{position: static;height: auto;padding: 30px;}
.copy-right{margin-bottom: 14px;position: static;text-align: center;}
.social-media{position: static;text-align: center;float: none;width: 100%;}
.follow-label{display: none;}
.social-icon{width: 100%;display: flex;align-items: center;justify-content: center;}
.social-icon a{margin: 0 10px;}

/* Project */
.project-outer{max-width: 100%;}

}

@media (max-width: 767.75px) {
/* Header */
header{padding: 20px 15px;}
.fixed header{padding:15px;}
.navbar-light .navbar-toggler{background: transparent;border: none;position: relative;width: 24px;height: 24px;}
.navbar-light .navbar-toggler::after{position: absolute;content: '';width: 24px;height: 24px;background-image: url('../images/menu.svg');left: 0;right: 0;top: 0;}
.navbar-light .navbar-toggler-icon{display: none;}
.navbar-collapse{position: fixed;top: 70px;left: 0;right: 0;z-index: 100;background: #101010;bottom: 0;padding: 0 15px;transition: 0.3s ease-in all;}
.navbar-light .navbar-nav .nav-link,.dropdown{margin-left: 0;}

/* Dropdown */
.dropdown-outer{right: auto;}
.dropdown-outer::before{left: 10px;right: initial;}

/* Banner */
.banner{padding: 50px 0;}

/* Common style */
.container-inner{padding: 0 15px;}
.block-title h2{font-size: 20px;}

/* Project */
.project-block{padding: 30px 0;}
.project-box{padding: 30px 0;}
.project-img img{max-width: 100px;}
.project-year{font-size: 18px;}
.project-box:after{width: 1px;}

/* fixed-lines */
.line-area{width: 50%;}
.line-area:nth-child(2){width: 50%;}

/* Footer */
footer{padding: 15px;}

}
@media (max-width: 649px) {

}
@media (max-width: 575.75px) {
    .project-box{flex-wrap: wrap;padding-left: 30px;}
    .year-box{max-width: 100%;margin-bottom: 15px;}
    .project-img{max-width: 100%;}
    .project-box:nth-child(2n+1){flex-direction: row;}
    .project-box:after{right: initial;}
    .project-box:before{left: -15px;right: initial;}
}

@media (max-width: 414.75px) {

}
@media (max-width: 359px) {

}